/* graphManager.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.graph-container {
  position: relative; /* Ensure the container is positioned relatively */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Ensure it takes up full viewport height */
}

/* graphManager.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.graph-container {
  position: relative; /* Ensure the container is positioned relatively */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh; /* Ensure it takes up full viewport height */
}

.CenteredContent {
  width: 100%;
  height: 100%; /* Ensure it takes up full height of the parent */
}

.table-view-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Position TableView absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Cover the entire container */
  background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  z-index: 10; /* Ensure it is on top of TestGraph */
  overflow: auto; /* Allow scrolling if content overflows */
  padding: 20px; /* Optional: Add some padding for aesthetics */
}

