.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D2D9E5;
  padding: 10px 20px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  height:60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Drop shadow */
}

.header-logo{
  height:50px;
  margin-left: 2.5vw;
}

.title-logo{
    display: flex;
    align-items: center;

}
.navbar-title {
  color: #05072B;
  font-size: 1.5em;
  margin-left: 20px;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
  margin-right: 30px;
}

.navbar-button {
  background-color: #D2D9E5;
  border: none;
  color: #05072B;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.navbar-button:hover {
background-color: #f9f9f9;    
}

/* Main Dropdown Menu */
.navbar-button.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Show the dropdown content on hover or when active */
.navbar-button.dropdown:hover .dropdown-content,
.navbar-button.dropdown .dropdown-content.active {
  display: block;
}

/* Dropdown Items */
.dropdown-item {
  position: relative;
  padding: 12px 16px;
  cursor: pointer;
  background-color: #f9f9f9; /* Darker background for groups */
}

/* Nested Dropdown Menu */
.dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%; /* Align to the right of the parent item */
  top: 0; /* Align to the top of the parent item */
  background-color: #f9f9f9;
  min-width: 140px; /* Slightly smaller width */
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
}

/* Show the nested dropdown content when parent item is active */
.dropdown-item:hover .dropdown-submenu,
.dropdown-item.active .dropdown-submenu {
  display: block;
}

/* Links inside the dropdown */
.dropdown-content a,
.dropdown-submenu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover,
.dropdown-submenu a:hover {
  background-color: #D2D9E5;
}
