.Snake {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto; /* Center the object horizontally and add vertical spacing */
    min-width: 30%;
    width:100%;
    background-color: #faf7f2;
    top:60px;
    height: 100%;
  }

  p{
    font-size: 10px;
    color:#464D6B;
  }
  